<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clase 7 - Curriculum Vitae</title>
    <link rel="stylesheet" href="../css/style.css">
    <!--    Fuentes     -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <img src="../img/ret.PNG" alt="Foto de Perfil" id="profile">
        <h1>C.V. MATHIAS CURBELO</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="./aboutme.html">Sobre Mí</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="sobremi-seccion">
            <h2>Sobre mí</h2>
                <p> Hola, mi nombre es Mathias. Soy un apasionado del aprendizaje autodidacta,
                    estudiando actualmente en Digital House.
                    Aspiro a conseguir empleo en el área de IT, adquirir experiencia, nuevos conocimientos y fortalecer mi vida profesional.
                    Creativo, empático y entusiasta, con competencias enfocadas en el trabajo en equipo,comunicación asertiva y resolución de problemas.
                    Responsable y proactivo, me gusta aprender de los demás y superarme continuamente</p>
        </section>
    </main>

    <footer id="contacto">
        <span>&copy; 2023 - <a href="https://nathker73.netlify.app/" target="_blank">Mathias Curbelo</a></span>
        <div class="icons">
            <a href="http://github.com/na7hk3r" target="_blank">
                <img src="../img/github.svg" alt="GitHub">
            </a>
            <a href="http://instagram.com/nathker_" target="_blank">
                <img src="../img/instagram.svg" alt="Instagram">
            </a>
            <a href="https://www.linkedin.com/in/mathias-curbelo-99a21b237" target="_blank">
                <img src="../img/linkedin.svg" alt="LinkedIn">
            </a>
            <a href="http://nathker73.netlify.app" target="_blank">
                <img src="../img/web.svg" alt="Web">
            </a>
        </div>
    </footer>
</body>

</html>